@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    width:100%;
    height:auto;
    padding:5px 20px 5px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF00;
    /* box-shadow: 0px 0px 10px 1px #00000040; */
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    

}
.logo{
    width:60px;
    /* height: 60px; */
}
ul{
    display:flex;
    align-items: center;
    gap:30px;
    list-style:none;
    font-family: "Poppins", sans-serif;
    size:24px;
    font-weight: 500;
    color:white;
}
.navbutt{
    padding:10px 10px;
    background-color: #37608a;
    color:white;
    border-radius: 10px;
    border:none;
     font-family: "Poppins", sans-serif;
    size:24px;
    font-weight: 500;

}